.App {
  text-align: center;
}

.navBar {
  padding: 8px 4vw;
  width: 100%;
  height: auto;
  background-color: #000;
  text-align: left;
}

.topTit {
  color:#fff;
  font-weight: bold;
  font-size: 24px;
}

.blogList {
  padding: 2vw 4vw;
  display: block;
  text-align: left;
  border-bottom: 1px solid #000;
}

.blogTit {
  display: block;
  font-size: 20px;
  color: #000;
  font-weight: bold;
}